{% extends "layout.html"%}
{% block content %}
    <div class="media content-section col-md-20">
        <div class="media-body">
            <div class="col-sm-15 text-left"> 
                <h1>Welcome</h1>
                <p></p>
                <hr>
                <p class="article-content">This is a Web App that provides information regarding the pairing criterion of two patients for mutiplex ventilation. 
                <br>Pressure Control Mode is recommended for in-parallel co-ventilation whereas Volume Control is for in-series co-ventilation. </p>
            </div>
        </div>
    </div>
{% endblock content %}