{% extends "layout.html"%}
{% block content %}
   
<!-- This section is the main body of the form-->
    <div class="col-md-12">
        <h2>Volume Control Mode</h2>
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ventilator Settings</legend>    
                    <div class="dropdown">  
                        {{ form.pattern }}
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group">
                                    {{ form.RR.label(class="form-control-label") }}
                                    {% if form.RR.errors %}
                                        {{ form.RR(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.RR.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.RR(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                {{ form.PEEP.label(class="form-control-label") }}
                                {% if form.PEEP.errors %}
                                    {{ form.PEEP(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.PEEP.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.PEEP(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                {{ form.VT.label(class="form-control-label") }}
                                {% if form.VT.errors %}
                                    {{ form.VT(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.VT.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.VT(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>


                        <div class="col-md-5">
                            <div class="form-group">
                                {{ form.I_E.label(class="form-control-label") }}
                                {% if form.I_E.errors %}
                                    {{ form.I_E(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.I_E.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.I_E(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <legend class="border-bottom mb-4">Current Patient</legend>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.PatientName.label(class="form-control-label") }}
                                {% if form.PatientName.errors %}
                                    {{ form.PatientName(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.PatientName.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.PatientName(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.weight.label(class="form-control-label") }}
                                {% if form.weight.errors %}
                                    {{ form.weight(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.weight.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.weight(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.elastance.label(class="form-control-label") }}
                                {% if form.elastance.errors %}
                                    {{ form.elastance(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.elastance.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.elastance(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                {{ form.resistance.label(class="form-control-label") }}
                                {% if form.resistance.errors %}
                                    {{ form.resistance(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.resistance.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.resistance(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                    
                    </fieldset>
                    <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>     
                </fieldset>
            </form>
        </div>
    </div>
    <!--End of the section-->

    <!--This section display the simulated graphs-->
   {% if V1_graph != False %}
        <div class="col-md-12">
            <div class="content-section">
                {{ V1_graph }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="content-section">
                {{ Pairing_graph }}
            </div>
        </div>
    {% endif %}
    <!--End of the section-->


     
{% endblock content %}
